@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

:root{
    --md-dark-color: #454040;
    --dark-color: #49ae6a;
    --light-dark-color: #7c4eb5;
    --yellow-color: #021301;
}
*{
    
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    display: block;
}
.wrapper{
    min-height: 20vh;
    background-color: var(--dark-color);
}
.wrapper .container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}
.search-container{
    background-color: var(--md-dark-color);
    height: 180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.logo{
    padding: 1rem 0;
    border-bottom: 1px solid var(--light-dark-color);
}
.logo p{
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
}
.logo p span{
    color: var(--yellow-color);
}
.search-element{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
}
.search-element h3{
    -ms-flex-item-align: center;
        align-self: center;
    margin-right: 1rem;
    font-size: 2rem;
    color: #fff;
    font-weight: 500;
    margin-bottom: 1.5rem;
}
.search-element .form-control{
    padding: 1rem 2rem;
    font-size: 1.4rem;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    outline: none;
    color: var(--light-dark-color);
    width: 350px;
}
.card-container{
    display: grid;
    align-items: center;
    justify-content: center;
}
.title{
    color: white;
}
.card{
    padding: 8px 10px;
    margin-top: 4% ;
    border: 2px solid black;
    width: 60vw;
    height: 20vh;
    background-color: bisque;
}
.card h4{
    text-align: center;
    
}
.platform{
    margin-top: 20px;
}
.score-genre{
    
}
.details{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.score-genre{
    display: flex;
    border: 1px solid grey;
    border-radius: 2px;
    padding: 2px 5px ;
}
.genre{
    border-right: 1px solid grey;
    padding-right: 6px;
}
.score{
   padding-left: 6px; 
}
